#results .r1 .gauge {
  background-color: rgb(100, 0, 0);
}

#results .r2 .gauge {
  background-color: rgb(150, 0, 0);
}

#results .r3 .gauge {
  background-color: rgb(200, 0, 0);
}

#results .r4 .gauge {
  background-color: rgb(255, 0, 0);
}

#results .r5 .gauge {
  background-color: rgb(255, 50, 0);
}

#results .r6 .gauge {
  background-color: rgb(255, 100, 0);
}

#results .r7 .gauge {
  background-color: rgb(255, 153, 0);
}

#results .r8 .gauge {
  background-color: rgb(255, 187, 0);
}

#results .r9 .gauge {
  background-color: rgb(255, 221, 0);
}

#results .r10 .gauge {
  background-color: rgb(255, 255, 0);
}

#results .r11 .gauge {
  background-color: rgb(235, 255, 0);
}

#results .r12 .gauge {
  background-color: rgb(215, 255, 0);
}

#results .r13 .gauge {
  background-color: rgb(195, 255, 0);
}

#results .r14 .gauge {
  background-color: rgb(175, 255, 0);
}

#results .r15 .gauge {
  background-color: rgb(153, 255, 0);
}

#results .r16 .gauge {
  background-color: rgb(123, 255, 0);
}

#results .r17 .gauge {
  background-color: rgb(93, 0, 0);
}

#results .r18 .gauge {
  background-color: rgb(62, 255, 0);
}

#results .r19 .gauge {
  background-color: rgb(31, 255, 0);
}

#results .r20 .gauge {
  background-color: rgb(0, 255, 0);
}

#results .r25 .gauge {
  background-color: rgb(100, 224, 0);
}

#results .r30 .gauge {
  background-color: rgb(0, 193, 0);
}

#results .r35 .gauge {
  background-color: rgb(0, 162, 0);
}

#results .r40 .gauge {
  background-color: rgb(0, 131, 0);
}

#results .r45 .gauge {
  background-color: rgb(0, 100, 0);
}
