#results .gauge {
  width: 60px;
}

#results .indicator {
  height: 1em;
  margin-left: auto;
  float: right;
}

#legend {
  width: 348px;
  text-align: center;
  margin: auto;
  margin-bottom: 20px;
}

#legend .demo {
  display: inline-block;
}

#legend .indicator {
  width: 10px;
  height: 10px;
}

/* RATIOS */

.r1 .indicator {
  background-color: rgb(165, 0, 0);
}

.r2 .indicator {
  background-color: rgb(195, 0, 0);
}

.r3 .indicator {
  background-color: rgb(225, 0, 0);
}

.r4 .indicator {
  background-color: rgb(255, 0, 0);
}

.r5 .indicator {
  background-color: rgb(255, 50, 0);
}

.r6 .indicator {
  background-color: rgb(255, 100, 0);
}

.r7 .indicator {
  background-color: rgb(255, 153, 0);
}

.r8 .indicator {
  background-color: rgb(255, 187, 0);
}

.r9 .indicator {
  background-color: rgb(255, 221, 0);
}

.r10 .indicator {
  background-color: rgb(240, 240, 0);
}

.r11 .indicator {
  background-color: rgb(230, 245, 0);
}

.r12 .indicator {
  background-color: rgb(215, 245, 0);
}

.r13 .indicator {
  background-color: rgb(195, 245, 0);
}

.r14 .indicator {
  background-color: rgb(175, 245, 0);
}

.r15 .indicator {
  background-color: rgb(153, 245, 0);
}

.r16 .indicator {
  background-color: rgb(123, 245, 0);
}

.r17 .indicator {
  background-color: rgb(93, 255, 0);
}

.r18 .indicator {
  background-color: rgb(62, 255, 0);
}

.r19 .indicator {
  background-color: rgb(31, 255, 0);
}

.r20 .indicator {
  background-color: rgb(0, 255, 0);
}

.r25 .indicator {
  background-color: rgb(100, 224, 0);
}

.r30 .indicator {
  background-color: rgb(0, 193, 0);
}

.r35 .indicator {
  background-color: rgb(0, 162, 0);
}

.r40 .indicator {
  background-color: rgb(0, 131, 0);
}

.r45 .indicator {
  background-color: rgb(0, 100, 0);
}

/* TOTALS */

#results .t0 .indicator {
  width: 3px;
}

#results .t1 .indicator {
  width: 6px;
}

#results .t2 .indicator {
  width: 9px;
}

#results .t3 .indicator {
  width: 12px;
}

#results .t4 .indicator {
  width: 15px;
}

#results .t5 .indicator {
  width: 18px;
}

#results .t6 .indicator {
  width: 21px;
}

#results .t7 .indicator {
  width: 24px;
}

#results .t8 .indicator {
  width: 27px;
}

#results .t9 .indicator {
  width: 30px;
}

#results .t10 .indicator {
  width: 33px;
}

#results .t15 .indicator {
  width: 36px;
}

#results .t20 .indicator {
  width: 40px;
}

#results .t25 .indicator {
  width: 43px;
}

#results .t30 .indicator {
  width: 46px;
}

#results .t40 .indicator {
  width: 49px;
}

#results .t50 .indicator {
  width: 52px;
}

#results .t60 .indicator {
  width: 55px;
}

#results .t70 .indicator {
  width: 58px;
}

#results .t80 .indicator {
  width: 61px;
}
